[Desktop Entry]
Name=COSMIC Ext Color Picker
Exec=cosmic-ext-color-picker %F
Terminal=false
Type=Application
StartupNotify=true
Icon=me.pixeldoted.CosmicExtColorPicker
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
